<section class="car-gallery">
    <a routerLink="/create-new-car" class="add-car-btn">Добавить новую машину</a>
    <div class="wraper">
        <app-cars-filter #filterComp></app-cars-filter>
        <div class="cars-block">
            <div *ngFor="let car of filterComp.filtredCarsList" class="item">
                <div class="wrap">
                    <div class="img-block">
                        <img src="assets/img/cars/{{car.img}}">
                    </div>
                </div>
                
                <div class="info">
                    <h3><span class="title">{{car?.brand}} {{car?.model}}</span> <span class="price">{{car?.price| currency:'USD': 'symbol-narrow': '4.0-0'}}</span></h3>
                    <p>Год: {{car?.year}}</p>
                    <p>Цвет: {{car?.color}}</p>
                    <p>Объём: {{car?.engine}}л</p>
                    <p>{{car?.description}}</p>
                    <button (click)="editCarInfo(car.id)">Редактировать</button>
                </div>
            </div>
        </div>
    </div>
</section>
