/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
section,
main,
header,
footer,
aside,
p,
span,
a,
img,
frame,
video,
ul,
ol,
li,
td,
tr,
table,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border:none;
}